<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>About Us</title>
        <link rel="stylesheet" type="text/css" target="_blank" href="styles.css" />
      </head>
      <body>
        <nav>
          <div class="logo">
            <img src="logo.png" alt="Eats For Cheap Logo" />
            <h1>Eats for Cheap</h1>
          </div>
          <ul>
            <li>
              <a href="index.html.jinja">Home</a>
            </li>
           
            <li>
              <a href="Aboutus.html.jinja">About Us</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
          <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </nav>
        <div class="menubar">
          <ul>
            <li>
              <a href="index.html.jinja">Home</a>
            </li>
            <li>
              <a href="Aboutus.html.jinja">Aboutus</a>
            </li>
            <li>
             
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </div>
    <h1>What is Cheap Eats About</h1>
    <p>When we think about Cheap stuff we think about food. The purpose of our website and app is to help people around the New york City area access cheap food spots. We got inspired by certain food spots that are cheap around the area. So we thought about making it a map out of just cheap Eats.</p>
      </body>
</html>